body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

div.Header {
  background: black;
}
  div.Header .btn-group a {
    color:white !important;
  }

.BlankPage {
  display: block;
  margin-top: 45px;
}

.BlankPage .Info {
  padding-top: 30px;
}

.BlankPage img {
  animation: App-logo-spin infinite 20s linear;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  height: 80px;
  padding: 20px;
  color: white;
  background-image: url("../images/main-logo.png");
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card-header.badge-container {
  position: relative;
}

.card-header.badge-container .badge-pill {
  position:absolute;
  height: 38px;
  left:0;
}
.has-error,
.card-body.text-alert {
  /* border: solid 1px red; */
  color:red;
}
.card-body.text-primary {
  /* background-color : greenyellow; */
  color:green;
}

.card-group {
  width: 100%;
}
.presentation {
  padding: 5px;
}

.nav.nav-pills.tablist {
  font-size: 36px;
}

.gameScore {
  font-size: 24px !important;
}

 .icon-dealer::before {
  content:"";
  position: absolute;
  top:30%;
  left:0;
  border-top: 10px solid transparent;
  border-left: 10px solid red;
  border-bottom: 10px solid transparent;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-group.card {
  width: 18rem;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  line-height: 40px;
  background-color: #f5f5f5;
}

.flex-wrapper {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}
.flex-parent {
  display: flex;
  flex-wrap: wrap;
}
.flex-child {
  flex: 1 0 20%; /* explanation below */
  /* margin: 5px; */
  box-sizing: border-box;
  position: relative;
}
.flex-child h6 {
  font-size: 24px;
  color:black !important;
}
.flex-child > span:first {
  padding-right: 5px !important;
}

.flex-child h6 {
  font-size: 24px;
  float: left;
  width: 50%;
  text-align: left;
  margin: 0;
  /* padding-left:30px; */
}

.card-footer.summary {
  line-height: 32px !important;
}

.card-body {
  padding:0px !important;
}

.badge.badge-pill {
  width:60px;
  padding: 5px;
}

.card-header.badge-container .badge-pill {
  top:0;
}

.playerName {
  width: 100%;
}

.dealer-badge span {
  width:36px !important;
  height: 36px !important;
}

.flex-child .badge.badge-primary {
  color: #007C65;
  border:solid 1px;
  background: inherit !important;
  font-size: 28px;
  border-radius: 10px;
}

.flex-child .badge.bg-danger {
  color: red !important;
  background: white !important;
  border:solid 1px;
  font-size: 28px;
  border-radius: 10px;
}

.LoginForm,
.SignUpForm {
	width: 50%;
  margin: auto;
  margin-top: 90px;
  color:black;
}

@media (max-width: 768px) {
  .panel .badge.badge-pill {
    width:100%;
  }
  .flex-child {
    flex: 1 0 25%; /* explanation below */
  }

  .panel .flex-child h6 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }

  .card-header.badge-container .badge-pill {
    height: 19px;
    top:0;
    font-size: 16px;
    padding:0px;
  }

  .dealer-badge span {
    width:26px !important;
    height:26px !important;
  }

  .btn-remove {
    display:none;
  }
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .card-group {
    display:block !important;
  }
  .flex-child {
    flex: 1 0 25%; /* explanation below */
  }

  .card {
    flex-direction: row !important;
    align-items: center;
    margin:auto;
  }
  .card-header,
  .card-footer,
  .card-body{
    flex:1;
  }

  .card-footer,
  .card-header{
    flex: 0 0 130px;
  }
  .flex-sm-row {
    line-height: 30px !important;
  }
  .card-footer.summary {
    line-height: 32px !important;
  }

  .flex-child {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .flex-child h6 {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-left:0px;
  }
  .flex-child span {
    flex: 1; /* explanation below */
    box-sizing: border-box;
  }
  .nav.nav-pills.tablist {
    font-size: 14px;
  }

  .card-header.badge-container .badge-pill {
    top:0;
    /* font-size: 10px; */
    border-radius: 10px;
  }
  .panel .badge.badge-pill {
    width:100%;
    /* padding: 0px; */
  }

  .dealer-badge span {
    width:18px !important;
    height: 18px !important;
  }

  .btn-remove {
    display:none;
  }

  .LoginForm,
  .SignUpForm {
    width: 90%;
  }
}

