body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-group.card {
  width: 18rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  line-height: 40px;
  background-color: #f5f5f5;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .card-group {
    display:block !important;
  }

  .card {
    flex-direction: row !important;
    align-items: center;
    margin:auto;  
  }
  .card-header,
  .card-footer,
  .card-body{
    flex:1;
  } 

  .card-header{
    flex: 0 0 160px;
  }  
  .flex-sm-row {
    line-height: 30px !important;
  }
  .card-footer.summary {
    line-height: 32px !important;
  }
  /* .summary .card-header,
  .summary .card-footer {
    width:50%;
  }
  .summary .card-body{
    display:none;
  } */
}